body {
	background-color: #f5f5f5;
	font-family: 'Microsoft YaHei';
}
.box {
	padding: 5px;
	margin: 5px 0;
	background-color: #fff;
    border: 1px solid #fff;
    display: block;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 1px 1px #dcdcdc;
}
.title {
	width:80%;
	display: inline-block;
}
.title p {
	margin:0;
}
.action {
	width: 15%;
	display: inline-block;
}
.control-label {
	padding-top:7px;
	margin-bottom: 0;
    text-align: right;
}
#keyword {
	width: 83%;
    margin-left: 0;
    display: inline-block;
}
#search-button {
	padding:6px 0px;
	width : 15%;
}
.torrent-name {
	word-break:break-all;
}